body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.movie-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the min and max widths as needed */
    gap: 20px;
}

.movie {
    max-width: 300px; /* Adjust based on your layout needs */
  margin: 20px auto; /* Center the movie divs */
  text-align: center; /* Center the alt text */
}

.movie.img {
    width: 100%; /* Ensures images take up the full width of their grid cell */
  height: auto;
}

.movie-info {
    text-align: center; /* Center the text below the image */
  margin-top: 10px;
}
